<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ meta_description }}">
    <title>Redirecting...</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <p>Redirecting to setup video...</p>
    <script>
	window.onload = function() {
            setTimeout(() => {
                window.location.href = "https://youtube.com/shorts/4H9qCQo_Y8s?feature=share";
            }, 250); 
        };
    </script>
</body>
</html>
