<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" type="image/png">
    <link rel="icon" sizes="192x192" href="/assets/android-chrome-192x192.png" type="image/png">
    <link rel="icon" sizes="512x512" href="/assets/android-chrome-512x512.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-analytics-compat.js"></script>
   <script>
     var firebaseConfig = {
    apiKey: "{{ FIREBASE_API_KEY }}",
    authDomain: "stillwatersretre-1713628649908.firebaseapp.com",
    projectId: "stillwatersretre-1713628649908",
    storageBucket: "stillwatersretre-1713628649908.appspot.com",
    messagingSenderId: "340290043055",
    appId: "1:340290043055:web:db8af11f4310619847285a",
    measurementId: "G-VY28D4VWH1"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  </script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1036707259">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1036707259');
</script>
</head>
<body>
    <div id="app">
        {{ template "nav.html" . }}
    <main>
	<section class="intro">
	    <h2>Activities</h2>
	    <p>Discover the activities available during your retreat.</p>
	</section>
    </main>
</div>
</body>
</html>
