<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1036707259"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-1036707259');
    </script>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" type="image/png">
    <link rel="icon" sizes="192x192" href="/assets/android-chrome-192x192.png" type="image/png">
    <link rel="icon" sizes="512x512" href="/assets/android-chrome-512x512.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Still Waters Retreat</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-analytics-compat.js"></script>
    <script>
	var firebaseConfig = {
		apiKey: "***REMOVED***",
		authDomain: "***REMOVED***.firebaseapp.com",
		projectId: "***REMOVED***",
		storageBucket: "***REMOVED***.appspot.com",
		messagingSenderId: "340290043055",
		appId: "1:340290043055:web:db8af11f4310619847285a",
		measurementId: "G-VY28D4VWH1"
	};


        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/cabins">Cabins</a>
            <a href="/howitworks">How It Works</a>
            <a href="/packages">Pricing</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <div class="video-container">
        <!-- Static Image Placeholder -->
        <img src="/static/Lake.jpg" id="static-image" alt="Still Waters Retreat">
        <!-- Video Element Hidden Initially -->
        <video id="background-video" style="display: none;" loop muted playsinline>
            <source src="/assets/video/background.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="home-page-content">
        <h1>Retreats For Deep Thinkers</h1>
	You might be in the right place if...<br><br>
	You find the world too fast, too loud, and too shallow.<br>
	You can't say no, even when you are already overwhelmed.<br>
	The phrases "Corporate retreat", "let's collaborate" and "team project" invoke panic.<br><br>
	My name is Craig and I coach introverts to manage the overwhelm that <br>
	challenges deep thinkers like us. It took me way too long to learn to <br>
	live unapologetically out of step with our mad world.<br><br>
	I can help you set boundaries that do not feel weird or require you to defend or explain.<br>
	This is a solo retreat designed for you to do deep work at a quiet, modern cabin in<br>
	Big Bear Lake, CA. If you resonate with my approach from the videos throughout this site, you <br>
	may also choose to add virtual or onsite one-on-one coaching delivered by me.<br><br> 
	If you think we might be a fit, I would be thrilled to help you architect a life lived<br>
	at your own calm, slow, thoughtful pace...all without a single trust fall.<br>	
        </p>
        <div class="yellow-container">
            <a href="/howitworks" class="yellow-btn">Learn More</a>
        </div>
        <script>
            window.onload = function() {
                var learnMoreButton = document.querySelector('.yellow-btn');
                if (learnMoreButton) {
                    learnMoreButton.addEventListener('click', function() {
                        firebase.analytics().logEvent('learn_more_clicked');
                    });
                }
                
                var video = document.getElementById('background-video');
                var staticImage = document.getElementById('static-image');

                video.oncanplaythrough = function() {
                    staticImage.style.display = 'none';
                    video.style.display = 'block';
                    video.play();
                };

                // Preload video to trigger oncanplaythrough event
                video.load();
            };
        </script>
    </div>
</body>
</html>

