<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" type="image/png">
    <link rel="icon" sizes="192x192" href="/assets/android-chrome-192x192.png" type="image/png">
    <link rel="icon" sizes="512x512" href="/assets/android-chrome-512x512.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Plans</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1036707259">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1036707259');
</script>
</head>
<body>
    <div id="app">
        <header>
            <h1>Pricing</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/cabins">Cabins</a>
                <a href="/blog">Blog</a>
                <a href="/packages">Pricing</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
    </div>
    <main>
    <div class="pricing-container">
        <div class="price-box" package="cabin">
            <div class="price-header" style="background-color: #F5A623;">Cabin Only</div>
            <div class="price-tag">Market Nightly Rate</div>
            <ul class="features-list">
                <li>5 Star reviewed modern cabin in Big Bear Lake, CA</li>
                <li>Your choice of Bear View Cove or Victoria Pines Cabin</li>
                <li>As many nights as you like for your retreat</li>
            </ul>
        </div>
        
        <div class="price-box popular" package="full">
            <div class="price-header" style="background-color: #5fa55a;">Retreat Structure Options</div>
            <div class="price-tag">Add-ons if you need guidance</div>
            <ul class="features-list">
                <li>On-demand video course ($99)</li>
                <li>Live virtual coaching sessions with Craig ($299)</li>
                <li>4-hour onsite coaching session with Craig ($499)</li>
            </ul>
            <div class="badge">Coaching With Craig</div>
        </div>
        
        <div class="price-box" package="premium">
            <div class="price-header" style="background-color: #3B86FF;">Additional Deep Work Options</div>
            <div class="price-tag">Next level deep work</div>
            <ul class="features-list">
                <li>On-site massage from Unthai My Knots ($999)<li>
                <li>Guided on-site meditation ($299)</li>
                <li>Guided Big Bear nature hike ($199)</li>
            </ul>
        </div>
        <div class="yellow-container">
              <a href="/cabins" class="packages-btn">Choose Your Cabin</a>
        </div>
    </div>
    </main>
    <script>
</body>
</html>
