<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" type="image/png">
    <link rel="icon" sizes="192x192" href="/assets/android-chrome-192x192.png" type="image/png">
    <link rel="icon" sizes="512x512" href="/assets/android-chrome-512x512.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1036707259">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1036707259');
</script>
<!-- Event snippet for Page view conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-1036707259/nWOeCKXh-4wZELvLq-4D'}); </script>
</head>
<body>
    <div id="app">
        <header>
            <h1>Thank You</h1>
	    <nav>
                <a href="/">Home</a>
                <a href="/cabins">Cabins</a>
                <a href="/howitworks">How It Works</a>
                <a href="/packages">Pricing</a>
                <a href="/contact">Contact</a>
	  </nav>
        </header>
        <main>
            <section class="intro">
                <h2>{{ title }}</h2>
                <p>{{ subtitle }}</p>
            </section>
        </main>
    </div>
    <div class="yellow-container">
        <a href="/howitworks" class="yellow-btn">Learn More</a>
    </div>
    <script src="https://unpkg.com/vue@3.2.31"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    title: 'Your Retreat is booked!',
                    subtitle: 'You will receive an email shortly with all the details for your retreat.'
                }
            }
        }).mount('#app');
    </script>
    <script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "{{ FIREBASE_API_KEY }}",
    authDomain: "stillwatersretre-1713628649908.firebaseapp.com",
    projectId: "stillwatersretre-1713628649908",
    storageBucket: "stillwatersretre-1713628649908.appspot.com",
    messagingSenderId: "340290043055",
    appId: "1:340290043055:web:db8af11f4310619847285a",
    measurementId: "G-VY28D4VWH1"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</body>
</html>

